<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>About</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">

    <link href="./static/css/main.css" rel="stylesheet" th:href="@{/static/css/main.css}" />
    <link href="./static/css/skin.css" rel="stylesheet" th:href="@{/static/css/skin.css}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="./static/js/index.js"></script>
</head>

<body id="wrapper">
    <!--/.nav-ends -->
    <section th:replace="static/plantilla/index ::top-header"> </section>
    <header th:replace="static/plantilla/index ::header"></header>

    <section id="about-page-section-3">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-7 text-align">
                    <div class="section-heading">
                        <h2>Sobre <span>Nosotros</span></h2>
                    </div>
                    <p>
                        Pensando en tu comodidad, contamos con diferentes servicios en línea como inscripción rápida, agendamiento de citas, transferencia de sedes y cambio de plan. Además del acompañamiento de nuestros profesores de planta, tendrás acceso a nuestro Entrenador
                        Virtual para que entrenes de forma autónoma. Entrena cuando quieras y donde quieras. Queremos que siempre exista un lugar cerca de usted para poder entrenar. Actualmente se busca tener 20 Centros de Acondicionamiento y Preparación
                        Física en Colombia.
                        <br><br>
                        <h2><span>Mision</span></h2>
                        Nuestra misión es entregar fitness de alta calidad, haciéndolo accesible para todos. Es por eso que todos nuestros Centros de Acondicionamiento y Preparación Física - CAPF cuentan con la tecnología e instalaciones adecuadas para satisfacer las necesidades
                        de nuestros usuarios.

                    </p>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-5">
                    <img height="" width="auto" src="img/iphone62.png" class="attachment-full img-responsive" alt="">
                </div>
            </div>
        </div>
    </section>



    <section id="skills">
        <div class="titlebar">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 xol-md-12 col-sm-12 col-xs-12">
                        <div class="section-heading text-center">
                            <h2>Our <span>Skills</span></h2>
                            <p class="subheading">Lorem ipsum dolor sit amet sit legimus copiosae instructior ei ut vix denique fierentis ea saperet inimicu ut qui dolor oratio mnesarchum ea utamur impetus fuisset nam nostrud euismod volumus ne mei.</p>
                        </div>



                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-6 block mybox">
                                <div class="progress color progress-bar-1">
                                    <span class="progress-left">
                    <span class="progress-bar"></span>
                                    </span>
                                    <span class="progress-right">
                    <span class="progress-bar"></span>
                                    </span>
                                    <div class="progress-value">90%</div>

                                </div>
                                <div class="progress-title">
                                    <h5>Portal Development</h5>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-6 block mybox">
                                <div class="progress color progress-bar-2">
                                    <span class="progress-left">
                    <span class="progress-bar"></span>
                                    </span>
                                    <span class="progress-right">
                    <span class="progress-bar"></span>
                                    </span>
                                    <div class="progress-value">75%</div>
                                </div>
                                <div class="progress-title">
                                    <h5>Enterprise Mobility</h5>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-6 block mybox">
                                <div class="progress color progress-bar-3">
                                    <span class="progress-left">
                    <span class="progress-bar"></span>
                                    </span>
                                    <span class="progress-right">
                    <span class="progress-bar"></span>
                                    </span>
                                    <div class="progress-value">60%</div>
                                </div>
                                <div class="progress-title">
                                    <h5>Start Up</h5>
                                </div>
                            </div>

                            <div class="col-md-3 col-sm-6 col-xs-6 block mybox">
                                <div class="progress color progress-bar-4">
                                    <span class="progress-left">
                    <span class="progress-bar"></span>
                                    </span>
                                    <span class="progress-right">
                    <span class="progress-bar"></span>
                                    </span>
                                    <div class="progress-value">80%</div>
                                </div>
                                <div class="progress-title">
                                    <h5>Product Development</h5>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
    </section>
    <section id="team-member">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 xol-md-12 col-sm-12 col-xs-12">
                    <div class="section-heading text-center">
                        <h1>Our <span>Team</span></h1>
                        <p class="subheading">Lorem ipsum dolor sit amet sit legimus copiosae instructior ei ut vix denique fierentis ea saperet inimicu ut qui dolor oratio mnesarchum ea utamur impetus fuisset nam nostrud euismod volumus ne mei.</p>
                    </div>
                    <div class="wpb_column vc_column_container col-md-3 col-sm-6 col-xs-6 block mybox">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="our-team main-info-below-image">
                                    <div class="our-team-inner">
                                        <div class="our-team-image">
                                            <img src="img/team-4.jpg" />
                                            <div class="qodef-circle-animate"></div>
                                            <div class="our-team-position-icon">
                                                <span class="qodef-icon-shortcode circle">
        			<i class="qodef-icon-simple-line-icon qodef-icon-element fa fa-cog"></i>
            </span>
                                            </div>
                                            <h6 class="q_team_position">Developer</h6>
                                        </div>
                                        <div class="our-team-info">
                                            <div class="our-team-title-holder">
                                                <h5 class="our-team-name">Lorem Ipsum</h5>
                                            </div>
                                            <div class='our-team-text-inner'>
                                                <div class='our-team-description'>
                                                    <p>Lorem ipsum dolor sit amet sit legimus copiosae instructior ei ut vix</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container col-md-3 col-sm-6 col-xs-6 block mybox">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="our-team main-info-below-image">
                                    <div class="our-team-inner">
                                        <div class="our-team-image">
                                            <img src="img/team-4.jpg" />
                                            <div class="qodef-circle-animate"></div>
                                            <div class="our-team-position-icon">
                                                <span class="qodef-icon-shortcode circle">
        				<i class="qodef-icon-simple-line-icon fa fa-pencil qodef-icon-element"></i>
    					</span>
                                            </div>
                                            <h6 class="q_team_position">Graphic Designer</h6>
                                        </div>
                                        <div class="our-team-info">
                                            <div class="our-team-title-holder">
                                                <h5 class="our-team-name">Lorem Ipsum</h5>
                                            </div>
                                            <div class='our-team-text-inner'>
                                                <div class='our-team-description'>
                                                    <p>Lorem ipsum dolor sit amet sit legimus copiosae instructior ei ut vix</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container col-md-3 col-sm-6 col-xs-6 block mybox">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="our-team main-info-below-image">
                                    <div class="our-team-inner">
                                        <div class="our-team-image">
                                            <img src="img/team-4.jpg" />
                                            <div class="qodef-circle-animate"></div>
                                            <div class="our-team-position-icon">
                                                <span class="qodef-icon-shortcode circle">        
        					<i class="qodef-icon-simple-line-icon fa fa-hashtag qodef-icon-element"></i>
            		</span>
                                            </div>
                                            <h6 class="q_team_position">Accountant</h6>
                                        </div>
                                        <div class="our-team-info">
                                            <div class="our-team-title-holder">
                                                <h5 class="our-team-name">Lorem Ipsum</h5>
                                            </div>
                                            <div class='our-team-text-inner'>
                                                <div class='our-team-description'>
                                                    <p>Lorem ipsum dolor sit amet sit legimus copiosae instructior ei ut vix</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wpb_column vc_column_container col-md-3 col-sm-6 col-xs-6 block mybox">
                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">
                                <div class="our-team main-info-below-image">
                                    <div class="our-team-inner">
                                        <div class="our-team-image">
                                            <img src="img/team-4.jpg" />
                                            <div class="qodef-circle-animate"></div>
                                            <div class="our-team-position-icon">
                                                <span class="qodef-icon-shortcode circle ">
						        <i class="qodef-icon-simple-line-icon fa fa-wrench qodef-icon-element" ></i>
			            </span>
                                            </div>
                                            <h6 class="q_team_position">Engineer</h6>
                                        </div>
                                        <div class="our-team-info">
                                            <div class="our-team-title-holder">
                                                <h5 class="our-team-name">Lorem Ipsum</h5>
                                            </div>
                                            <div class='our-team-text-inner'>
                                                <div class='our-team-description'>
                                                    <p>Lorem ipsum dolor sit amet sit legimus copiosae instructior ei ut vix</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <footer th:replace="static/plantilla/index ::footer">


    </footer>


</body>

</html>