<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="master">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>Administrador</title>
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" th:href="@{/css/main.css}" />
<link rel="stylesheet" th:href="@{/css/skin.css}" />

<script th:src="@{/js/index.css}"></script>

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script
	src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

</head>

<body id="wrapper">

	<section th:replace="../static/plantilla/index ::top-header">
	</section>
	<header th:replace="../static/plantilla/index ::header"></header>

	<section id="prove-product-cat-config">
		<div class="container">
			<div class="page-header">
				<h1>
					Panel de Administración <small class="tittles-pages-logo"></small>
				</h1>
			</div>
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation"><a th:classappend="FormSocio"      href="#Usuarios"  role="tab" data-toggle="tab">Socios</a></li>
				<li role="presentation"><a th:classappend="FormInstructor" href="#Instructor" role="tab" data-toggle="tab">Instructor</a></li>
				<li role="presentation"><a th:classappend="FormSala" href="#Sala" role="tab" data-toggle="tab">Sala</a></li>

				
			</ul>
			<div class="tab-content">
				<!--==============================Panel Socio===============================-->
				<div role="tabpanel" class="tab-pane fade" th:classappend="FormSocio" id="Usuarios">
					<div class="row">
						<div class="col-xs-12 col-sm-6">
							<br> <br>
							<div id="add-Socio">
								<h2 class="text-info text-center">
									<small><i class="fa fa-plus"></i></small>&nbsp;&nbsp;Agregar un	socio nuevo
								</h2>
								<div th:include="../static/includes/Usuario.html" th:remove="tag"></div>
							</div>
						</div>

						<div class="col-xs-12">
							<div class="panel-heading text-center">
								<h3>Usuarios</h3>
								<small class="tittles-pages-logo"></small> <input
									class="form-control" id="myInputSocio" type="text"
									placeholder="Buscar un valor en la tabla">
							</div>
							<div id="res_update_Socio" style="width: 100%; padding: 0px;">
							
							 <div th:include="../static/tablas/TablaSocio.html" th:remove="tag"></div>
							
							</div>							
						</div>
					</div>
                 </div>
					<!--==============================Panel Instructor===============================-->
					<div role="tabpanel" class="tab-pane fade" th:classappend="FormInstructor" id="Instructor" >
						<div class="row">
							<div class="col-xs-12 col-sm-6">
								<br> <br>
								<div id="add-product">
									<h2 class="text-info text-center">
										<small><i class="fa fa-plus"></i></small>&nbsp;&nbsp;Agregar un Instructor
									</h2>
									<div th:include="../static/includes/Instructor.html" th:remove="tag"></div>

								</div>
							</div>

							<div class="col-xs-12">
								<br> <br> <br>
								<div class="panel-heading text-center">
									<h3> Instructor <small class="tittles-pages-logo"></small>
									</h3>
									<input class="form-control" id="myInputInstructores"
										type="text" placeholder="Buscar un valor en la tabla">
								</div>
								<div style="width: 100%; padding: 0px;">
								      <div th:include="../static/tablas/TablaInstructores.html" th:remove="tag"></div>
								      
							  </div>
							</div>
						</div>
					</div>
                
<!--==============================Panel Sala===============================-->					
					
					
					<div role="tabpanel" class="tab-pane fade" th:classappend="FormSala" id="Sala">
					<div class="row">
						<div class="col-xs-12 col-sm-6">
							<br> <br>
							<div id="add-Socio">
								<h2 class="text-info text-center">
									<small><i class="fa fa-plus"></i></small>&nbsp;&nbsp;Agregar una sala
								</h2>
								<div th:include="../static/includes/Sala.html" th:remove="tag"></div>
							</div>
						</div>

						<div class="col-xs-12">
							<div class="panel-heading text-center">
								<h3>Salas</h3>
								<small class="tittles-pages-logo"></small> <input
									class="form-control" id="myInputSala" type="text"
									placeholder="Buscar un valor en la tabla">
							</div>
							<div id="res_update_Socio" style="width: 100%; padding: 0px;">
							
							 <div th:include="../static/tablas/TablaSalas.html" th:remove="tag"></div>
							
							</div>							
						</div>
					</div>
                 </div>
					
					
					
					
					
					
					
					
					
					
					
					
					
				</div>
			</div>
	</section>


	<footer th:replace="../static/plantilla/index::footer">
</body>

</html>