<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="master">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Instructor</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="./static/css/main.css">
    <link rel="stylesheet" href="./static/css/skin.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="./static/js/index.js"></script>

</head>

<body id="wrapper">

    <section id="top-header">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-sm-7 col-xs-7 top-header-links">
                    <ul class="contact_links">
                        <li><i class="fa fa-phone"></i><a href="#">+91 848 594 5080</a></li>
                        <li><i class="fa fa-envelope"></i><a href="#">GimnasioEAM@gmail.com</a></li>
                    </ul>
                </div>
                <div class="col-md-5 col-sm-5 col-xs-5 social">
                    <ul class="social_links">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

    </section>

    <header>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="row">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                        <a class="navbar-brand" href="#">
                            <h1>Gimnasio EAM</h1>
                        </a>
                    </div>
                    <div id="navbar" class="collapse navbar-collapse navbar-right">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="features.html">Inicio</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="planes.html">Planes</a></li>
                            <li><a href="clase.html">Clases</a></li>
                            <li><a href="contact.html">Contactenos</a></li>
                            <li><a href="login.html">Login</a></li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </div>
        </nav>
    </header>


    <section id="prove-product-cat-config">
        <div class="container">
            <div class="page-header">
                <h1>Panel de Instructor <small class="tittles-pages-logo"></small></h1>
            </div>
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation"><a href="#Clases" role="tab" data-toggle="tab">Clases</a></li>
                <li role="presentation"><a href="#Rutina" role="tab" data-toggle="tab">Rutina</a></li>
                <li role="presentation" class="active"><a href="#Ejercicio" role="tab" data-toggle="tab">Ejercicio</a></li>
            </ul>
            <div class="tab-content">
                <!--==============================Panel Clases===============================-->

                <div role="tabpanel" class="tab-pane fade" id="Clases">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <br><br>
                            <div id="add-Rutina">
                                <h2 class="text-info text-center"><small><i class="fa fa-plus"></i></small>&nbsp;&nbsp;Agregar Clase</h2>
                                <form action="DAO/RutinaDAO.php" method="post" role="form">

                                    <div class="form-group ">
                                        <label>Nombre de la clase</label>
                                        <input type="text " class="form-control" th:field="*{nombre}" placeholder=" Nombre de la clase" required maxlength="40 ">
                                        <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="text-danger"></span>
                                    </div>
                                    <div class="form-group ">
                                        <label>Descripción de la clase</label>
                                        <textarea name="message" th:field="*{descripcion}" placeholder=" Descripción de la rutina" required maxlength="40 " class="form-control" rows="8"></textarea>
                                        <span th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}" class="text-danger"></span>
                                    </div>

                                    <div class="form-group ">
                                        <label>Fecha de la clase</label>
                                        <input type="date" class="form-control" th:field="*{fecha}" placeholder=" Fecha de la clase" required maxlength="40 ">
                                        <span th:if="${#fields.hasErrors('fecha')}" th:errors="*{fecha}" class="text-danger"></span>
                                    </div>

                                    <div class="form-group ">
                                        <label>Hora de inicio de la clase</label>
                                        <input type="time" class="form-control" th:field="*{horaInicio}" placeholder=" Hora de inicio" required="required">
                                        <span th:if="${#fields.hasErrors('horaInicio')}" th:errors="*{horaInicio}" class="text-danger"></span>
                                    </div>

                                    <div class="form-group ">
                                        <label>Hora de culminacion de la clase</label>
                                        <input type="time" class="form-control" th:field="*{horaFin}" placeholder=" Hora de culminacion" required="required">
                                        <span th:if="${#fields.hasErrors('horaFin')}" th:errors="*{horaFin}" class="text-danger"></span>
                                    </div>

                                    <p class="text-center"><button type="submit" class="btn btn-primary"> Agregar</button></p>
                                    <br>
                                    <input type="text" name="funcion" style="display: none" value="agregar_a_Rutina">
                                    <div id="res-form-add-Rutina" style="width: 100%; text-align: center; margin: 0;"></div>
                                </form>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <br><br>
                            <div id="up-Rutina">
                                <h2 class="text-danger text-center"><small><i class="fa fa-plus"></i></small>&nbsp;&nbsp;Asignar un ejercicio a una rutina</h2>
                                <form th:action="@{/RutinaEjercicio/addRutinaEjercicio}" th:object="${ejercicio}" method="post" role="form">

                                    <div class="form-group">
                                        <label>Clase</label>
                                        <select th:field="*{clase}">
                                            <option th:each="instructor: ${clase}" th:text="123" th:value="${cat.id}"></option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label>Socio</label>
                                        <select th:field="*{instructores}">
                                            <option th:each="instructor: ${cantegorias}" th:text="123" th:value="${cat.id}"></option>
                                        </select>
                                    </div>


                                    <p class="text-center"><button type="submit" class="btn btn-danger">Agregar</button></p>
                                    <br>
                                    <input type="text" name="funcion" style="display: none" value="changeCantidadRutina">
                                    <div id="res-form-up-Rutina" style="width: 100%; text-align: center; margin: 0;"></div>
                                </form>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <br><br>
                            <div class="panel panel-info" id="tablaRutina">

                            </div>
                        </div>
                        <div class="col-xs-12"></div>
                    </div>
                </div>
                <!--==============================Panel Rutina===============================-->

                <div role="tabpanel" class="tab-pane fade" id="Rutina">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <br><br>
                            <div id="add-Rutina">
                                <h2 class="text-info text-center"><small><i class="fa fa-plus"></i></small>&nbsp;&nbsp;Agregar Productos a Rutina</h2>
                                <form action="#" th:action="@{/addRutina}" th:object="${rutina}" method="post" role="form">

                                    <div class="form-group ">
                                        <label>Nombre de la rutina</label>
                                        <input type="text " class="form-control " id="txtCodigo_prod " placeholder=" Nombre de la rutina" required maxlength="40 ">
                                        <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label>Instructor</label>
                                        <select th:field="*{instructor}">
                                            <option th:each="instructor: ${instructores}" th:text="123" th:value="${instructor.idInstructor}"></option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label>Socio</label>
                                        <select th:field="*{socio}">
                                            <option th:each="Socio: ${socios}" th:text="123" th:value="${cat.id}"></option>
                                        </select>
                                    </div>

                                    <p class="text-center"><button type="submit" class="btn btn-primary">Agregar</button></p>
                                    <br>
                                    <input type="text" name="funcion" style="display: none" value="agregar_a_Rutina">
                                    <div id="res-form-add-Rutina" style="width: 100%; text-align: center; margin: 0;"></div>
                                </form>
                            </div>
                        </div>

                        <div class="col-xs-12">
                            <br><br>
                            <div class="panel panel-info" id="tablaRutina">

                            </div>
                        </div>
                        <div class="col-xs-12"></div>
                    </div>
                </div>



                <!-- === === === === === === === === === === Panel Ejercicio === === === === === === === === === === = -->

                <div role="tabpanel" class="tab-pane fade  in active" id="Ejercicio">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <br><br>
                            <div id="add-Rutina">
                                <h2 class="text-info text-center"><small><i class="fa fa-plus"></i></small>&nbsp;&nbsp;Agregar Ejercicio</h2>
                                <form action="DAO/RutinaDAO.php" method="post" role="form">

                                    <div class="form-group ">
                                        <label>Nombre del ejercicio</label>
                                        <input type="text " class="form-control " id="txtCodigo_prod " placeholder=" Nombre de la rutina" required maxlength="40 ">
                                        <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="text-danger"></span>
                                    </div>
                                    <div class="form-group ">
                                        <label>Descripción del ejercicio</label>
                                        <input type="text " class="form-control " id="txtCodigo_prod " placeholder=" Nombre de la rutina" required maxlength="40 ">
                                        <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="text-danger"></span>
                                    </div>


                                    <p class="text-center"><button type="submit" class="btn btn-primary">Agregar</button></p>
                                    <br>
                                    <input type="text" name="funcion" style="display: none" value="agregar_a_Rutina">
                                    <div id="res-form-add-Rutina" style="width: 100%; text-align: center; margin: 0;"></div>
                                </form>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <br><br>
                            <div id="up-Rutina">
                                <h2 class="text-danger text-center"><small><i class="fa fa-plus"></i></small>&nbsp;&nbsp;Asignar un ejercicio a una rutina</h2>
                                <form action="DAO/RutinaDAO.php" method="post" role="form">
                                    <div class="form-group">
                                        <label>Rutina</label>
                                        <select th:field="*{instructores}">
                                            <option th:each="instructor: ${cantegorias}" th:text="123" th:value="${cat.id}"></option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label>Ejercicio</label>
                                        <select th:field="*{instructores}">
                                            <option th:each="instructor: ${cantegorias}" th:text="123" th:value="${cat.id}"></option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label>Cantidad de repeticiones</label>
                                        <input class="form-control" type="number" id="txtCantidadProductoRutinaChange" min="1" name="cantidad" placeholder="Cantidad en Rutina" required="">
                                    </div>

                                    <div class="form-group">
                                        <label>Cantidad de series</label>
                                        <input class="form-control" type="number" id="txtCantidadProductoRutinaChange" min="1" name="cantidad" placeholder="Cantidad en Rutina" required="">
                                    </div>



                                    <p class="text-center"><button type="submit" class="btn btn-danger">Agregar</button></p>
                                    <br>
                                    <input type="text" name="funcion" style="display: none" value="changeCantidadRutina">
                                    <div id="res-form-up-Rutina" style="width: 100%; text-align: center; margin: 0;"></div>
                                </form>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <br><br>
                            <div class="panel panel-info" id="tablaRutina">

                            </div>
                        </div>
                        <div class="col-xs-12"></div>
                    </div>
                </div>

            </div>
        </div>
    </section>

</body>

</html>