<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="master">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Planes</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/skin.css}"/>
    
    <script th:src="@{/js/index.css}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>

<body id="wrapper">

    <section th:replace="../static/plantilla/index ::top-header"> </section>
    <header th:replace="../static/plantilla/index ::header"></header>




    <section id="top_banner">
        <div class="page_info">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-xs-6">
                        <h4>Planes</h4>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-6" style="text-align:right;">Home<span class="sep"> 	/ </span><span class="current">Planes</span></div>
                </div>
            </div>
        </div>

        </div>
    </section>

    <section id="features-page">

        <!--pricing-->
        <div class="subsection4">
            <div class="container">
                <div class="col span_12">
                    <div class="col-sm-12 wpb_column column_container">
                        <div class="wpb_wrapper">
                            <div class="section-heading text-center">
                                <h1>Nuestros <span>Planes</span></h1>
                                <p class="subheading"></p>
                            </div>
                            <div class="row" style="margin-top:30px;">
                                <div class="wpb_column vc_column_container col-sm-4 block grow">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="pricing-plan pricing-color-true">
                                                <div class="pricing-plan-head pricing-plan-1">
                                                    <h3>Starter Edition</h3>
                                                    <div class="pricing-price">
                                                        <span class="pricing-amount">$65.000</span>
                                                        <span class="pricing-per">por mes</span>
                                                    </div>
                                                </div>
                                                <ul>
                                                    <li><strong>Beneficios:</strong> </li>
                                                    <li>Duchas</li>
                                                    <li>Acceso a todas las zonas</li>
                                                    <!-- <li><strong>Basic</strong> Stats</li> -->
                                                </ul>
                                                <div class="pricing-signup">
                                                    <button type="submit" name="submit" class="btn btn-default submit-button">Inscribirse<i class="fa fa-caret-right"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container col-sm-4 block grow">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="pricing-plan pricing-color-true ">
                                                <div class="pricing-plan-head pricing-plan-2">
                                                    <div class="featured-ribbon">Best Value</div>
                                                    <h3>Diamond Edition</h3>
                                                    <div class="pricing-price">
                                                        <span class="pricing-amount">$89.000</span>
                                                        <span class="pricing-per">por mes</span>
                                                    </div>
                                                </div>
                                                <ul>
                                                    <li><strong>Beneficios:</strong> </li>
                                                    <li>Lockers</li>
                                                    <li>Duchas</li>
                                                    <li>Sillones de masaje</li>
                                                    <li>Acceso a todas las zonas</li>
                                                    <!-- <li><b>Complex</b>&nbsp;Stats</li> -->
                                                </ul>
                                                <div class="pricing-signup">
                                                    <button type="submit" name="submit" class="btn btn-default submit-button">Inscribirse<i class="fa fa-caret-right"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="wpb_column vc_column_container col-sm-4 block grow">
                                    <div class="vc_column-inner ">
                                        <div class="wpb_wrapper">
                                            <div class="pricing-plan pricing-color-true">
                                                <div class="pricing-plan-head pricing-plan-1">
                                                    <h3>Platinum Edition</h3>
                                                    <div class="pricing-price">
                                                        <span class="pricing-amount">$99.000</span>
                                                        <span class="pricing-per">por mes</span>
                                                    </div>
                                                </div>
                                                <ul>
                                                    <li><strong>Beneficios:</strong> </li>
                                                    <li>Lockers</li>
                                                    <li>Duchas</li>
                                                    <li>Sillones de masaje</li>
                                                    <li>Acceso a todas las zonas</li>
                                                    <li>Camerinos</li>
                                                    <li>Invitar a 3 amigos</li>
                                                    <!-- <li><b>Complex</b> Stats</li> -->
                                                </ul>
                                                <div class="pricing-signup">
                                                    <button type="submit" name="submit" class="btn btn-default submit-button">Inscribirse<i class="fa fa-caret-right"></i></button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section-heading">
                    <h4>Forma de pagos:</h4>
                    <h5>Credito</h5>
                    <img src="https://assets.smartfit.com.br/attachments/e7e8c1c4c04fac8401e4e6c9c4d1a30fb2504b80/store/fcdf9f8dfd2bb8c9af46cec2969a4f7eabbe32ac8a82fddce38721cacdeb/icon.svg" class="Footer__flag">
                    <img src="https://assets.smartfit.com.br/attachments/1dd523dfdccffc189d04471b0943b732730c67de/store/adae5ac44cf5a6b0889815f64659ac18dbed7bbb8647feff76784859587c/icon.svg" class="Footer__flag">
                    <img src="https://assets.smartfit.com.br/attachments/c9eb31753b3a7d90097a2e1442a558554782b2e3/store/396dc55de83db4ca1f9c333d2b0650bf59ac5f36a6e9c42b345f1461ade7/icon.svg" class="Footer__flag">
                </div>
                <div class="section-heading">
                    <h5>Debito: </h5>
                    <img src="https://assets.smartfit.com.br/attachments/9d3482b7a84784f16f2467487660916d5d5755dd/store/bdb365bc26529d97af84281cffec73429c27f21e977630bc0b8d9b095037/icon.svg" class="Footer__flag">
                    <img src="https://assets.smartfit.com.br/attachments/532c941a24eb257ac18d94f16bed1f7b5dce22e3/store/f3529691c30fb7fab3ac04df65af672621b640f7e0adf50a8872579b169c/icon.svg" class="Footer__flag">
                    <img src="https://assets.smartfit.com.br/attachments/abf0659348091107207240bc8f326382bd58cde4/store/85f04d48ef58d7ff460694ea330db3f9216575842a296abea5e91e35f210/icon.svg" class="Footer__flag">
                    <img src="https://assets.smartfit.com.br/attachments/c439b82616cec89cb355762021fef8b39ac739af/store/7977efd12ad643bd954728fa25d2ec65f43488f7bf45764f0ec7f6399ce9/icon.svg" class="Footer__flag">
                    <img src="https://assets.smartfit.com.br/attachments/4f0fcc8d9d4d44a21715b802863b816d265b2d4d/store/c654f5ac05b5d34e5b9f330888edd986a66f6dea86d5554b2b8db6a359d8/icon.svg" class="Footer__flag">
                    <img src="https://assets.smartfit.com.br/attachments/c7d18960c094b2fdcb28b26be86502f2355f1911/store/1a8dccff3ac271875d773ae55dc3bf5ebd12e2eb1d368151f01933329114/icon.svg" class="Footer__flag">
                    <img src="https://assets.smartfit.com.br/attachments/db1fe18b126acd77c7697ecf1c8e00a53431f8f0/store/82ff97b43c142edff981f7b5a0fde3020e79cdc9f03d36415f762c059547/icon.svg" class="Footer__flag">
                    <img src="https://assets.smartfit.com.br/attachments/da538057143713dfd52af1fafb69b964f8e6e3ad/store/d4e77d4dfb92b4b213af2309762748b9e7d475170727438197988c57dcc6/icon.svg" class="Footer__flag">
                    <img src="https://assets.smartfit.com.br/attachments/158611c8da7ab9d027652093c6ae49db479fb607/store/2a9292369f01c17a3c17b56617d1695822807b071e2ad28c26d8d116d1cb/icon.svg" class="Footer__flag">
                    <img src="https://assets.smartfit.com.br/attachments/23285c60e4214002f0f226632a219864084a804c/store/b8fa8f9b1f9e43deddb96111ca2982310e887ab9854e6bd83dba13bbdf34/icon.svg" class="Footer__flag">
                </div>
            </div>

        </div>


    </section>


    <footer th:replace="../static/plantilla/index ::footer">


</body>

</html>