

/*General*/
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	margin: 0%;
	background-image: url("../images/fondo/Fondo.jpg");
	background-size: 100%;
	
	font-size: normal;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
}

a {
	text-decoration: none;
	-moz-transition: all linear .3s;
	-webkit-transition: all linear .3s;
	-o-transition: all linear .3s;
	transition: all linear .3s;
}

a:hover {
	text-decoration: none;
}

img {
	max-width: 100%;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 500;
	color: #7e7e7e;
	border-width: 1px;
	border-style: solid;
	padding: 0 15px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-moz-transition: border linear .3s;
	-webkit-transition: border linear .3s;
	-o-transition: border linear .3s;
	transition: border linear .3s;
}

textarea {
	padding: 15px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
	background: rgba(62, 212, 255, 0.5);
	border-color: #01b1d7 !important;
	outline: none;
	color: #333;
}

.btn {
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	font-weight: 600;
	width: 120px;
	height: 40px;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-moz-transition: background .3s linear;
	-webkit-transition: background .3s linear;
	-o-transition: background .3s linear;
	transition: background .3s linear;
}

.btn:focus {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: none;
}

.cover {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.form-control textarea{
width: 10px;
}

.container{
	width: 100%;
	display: flex;
	justify-content: center;  }

	
	.container-Shop{
		flex-wrap: wrap;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;  }

	.container-contenido{
		display: flex;
		align-items: center;
		background-color: rgba(0, 0, 0, 0.5);
		flex-direction: column;
		width: 80%;
		height: 750px;
		margin-bottom: 0px;
		border: 1px solid black;   }

		.container-contenido img{
			margin-top: 10px;
			width: 20%;
			margin-bottom: 10px;    }		


       /*Carousel */

		.carousel {
			background-color: rgba(0, 183, 255, 0.164);
			padding-top :20px ;
			width: 100%;
			height: 300px;    
			border-bottom: 1px solid grey;      }
				
		  .carousel__container {
			transition: 450ms -webkit-transform;
			transition: 450ms transform;
			transition: 450ms transform, 450ms -webkit-transform;
			font-size: 0;
			margin: 40px 0px;
			display: inline;
			position: relative;
			padding-bottom: 10px;          }
				
		  .carousel__container:hover .carousel-item {
			opacity: 0.5;       }
				
		  .carousel__container:hover .carousel-item:hover {
			-webkit-transform: scale(1.5);
			transform: scale(1.5);
			opacity: 1;       }
	
	
	
@media screen and (min-width:400px) and (max-width: 1045px) {
	#carousel {
	    margin: 0px;
		padding-bottom: 30px;
		height: 1000px;
		width: 100%;				} 	}	
			
@media screen and (min-width: 1050px) and (max-width: 1900px) {
	#carousel {
	    margin: 0px;
		padding-bottom: 30px;
		height: 580px;
		width: 100%;				} 	}	
					
					
    #about {
		background-color: rgba(0, 0, 0, 0.603);
	    padding-top: 50px;
		border-bottom:1px solid grey ;
		padding-bottom: 20px;					}
					
	#about .about-heading h2 {
		font-family: 'Josefin Sans', sans-serif;
		font-weight: 1000px;
		color: rgba(255, 255, 255, 0.726);
		font-size: 35px;
		text-transform: uppercase;			}
					
		

.carousel-item {
	border-radius: 15px;
	overflow: hidden;
	position: relative;
	display: inline-block;
	width: 200px;
	height: 250px;
	margin-right: 10px;
	font-size: 20px;
	cursor: pointer;
    transition: 450ms all;
	-webkit-transform-origin: center left;
	transform-origin: center left;        }
				
.carousel-item:hover ~ .carousel-item {
	-webkit-transform: translate3d(100px, 0, 0);
	transform: translate3d(100px, 0, 0);       }
		
.carousel-item__img {
	width: 200px;
	height: 250px;
	-o-object-fit: cover;
	object-fit: cover;      }
			
.carousel-item__details {
	align-items: flex-start;
	background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
	bottom: 0;
	display: flex;
	font-size: 10px;
	flex-direction: column;
	justify-content: flex-end;
	left: 0;
	opacity: 0;
	transition: 450ms opacity;
	padding: 10px;
	position: absolute;
	right: 0;
	top: 0;      }
				
.carousel-item__details--img {
	width: 30px;   }

.carousel-item__details--title {
	display: flex;
	flex-wrap: wrap;
	font-weight: bolder; 
	color: white;
    font-size: 10px;         }
				
.carousel-item:hover .carousel-item__details {
    opacity: 1;      }
			   
				
.carousel-item__details--subtitle {
    color: white;
    font-size: 8px;
    text-decoration: none;
    margin: 3px 0px;       }

/*Top left Menu*/
.top-left {
	float: left;
}

.top-left ul >li {
	display: inline-block;
	margin-right: 15px;
}

.top-left a {
	font-size: 16px;
	color: #333;
}

.top-left a:hover {
	color: #01b1d7;
}

/*Top Right Menu*/
.top-right {
	float: right;
}

.top-right p:before {
	content: "\f041";
	font-family: 'FontAwesome';
	font-size: 16px;
	color: #01b1d7;
	margin-right: 10px;
}

.top-right p {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 14px;
}

.top-right p > span {
	margin-left: 5px;
	font-style: italic;
	font-weight: 400;
}

/*Nagivation*/
#main-nav {
	padding: 10px 0;
	background-color: rgba(13, 114, 172, 0.815); }



/*Affix*/
#main-nav.affix {
    position: fixed;
    top: 0;
	width: 100%;
	background-color: rgba(13, 114, 172, 0.815);
    color: #fff;
    z-index:10;
	-moz-box-shadow: 0 1px 2px #ebebeb;
	-webkit-box-shadow: 0 1px 2px #ebebeb;
	box-shadow: 0 5px 5px rgba(0,0,0,.15);
    transition: all 0.3s;
}

.navbar {
	margin:0;
}

#main-nav .navbar-header a {
	width: 250px;
	height: 250px;
	color: black; }


	#main-nav .navbar-header img {
		width: 40%;
		border-radius: 3px; 	}	
/*Toggle Menu*/
#main-nav .navbar-toggle {
	background-color: #01b1d7;
}

#main-nav .navbar-toggle span {
	background-color: #fff;
}

/*Main Menu*/
#main-nav .navbar-right {
	margin-top: 10px;
}
#main-nav .navbar-right li a {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	line-height: 30px;
	font-size: 20px;
	color: #fff;
	padding-top: 0;
	padding-bottom: 0;
	text-transform: uppercase;  }

#main-nav .navbar-header a {
	width: 250px;
	height: 250px;
	color: black; }

#main-nav .navbar-header img {
	width: 40%;
	border-radius: 3px;
}


#main-nav .navbar-nav li a:hover,#main-nav .navbar-nav li a:hover {
	color: rgba(0, 0, 0, 0.548);
	background-color: transparent;
}

#main-nav .navbar-nav li a:hover,#main-nav .navbar-nav li.active a {
	color: rgba(0, 0, 0, 0.548);
	background-color: transparent;
}

/*Search Form*/
.search-form {
	padding: 10px;
	position: absolute;
	bottom: -76px;
	right: 15px;
	z-index: 3;
	background: #fff;
	visibility: hidden;
	opacity: 0;
	transition: opacity .5s linear;
	-moz-box-shadow: 0 1px 2px #ebebeb;
	-webkit-box-shadow: 0 1px 2px #ebebeb;
	box-shadow: 0 1px 2px #ebebeb;
}

.search-form.visible {
	visibility: visible;
	opacity: 1;
}

.search-form input {
	height: 40px;
	width: 275px;
	border-color: #e8e8e8;
}

/*Main Slider*/
#slider {
	margin: 0;
	padding: 0;
	position: relative;
}

.flexslider {
	border: 0;
}

.row{
	display: flex;
	justify-content: space-around;
	width: 100%;
	height: 23%;
}

/*Slider Caption*/
#slider .caption {
	position: absolute;
	width: 600px;
	top: 50%;
}

#slider .caption img {
	width: 50%;}

#slider .caption h2 {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-weight: 650;
	font-size: 40px;
	color: #fff;
	text-shadow:0px 0px 30px black;
	text-transform: initial; }

#slider .caption button {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	font-size: 17px;
	margin-top: 20px;
	background-color: rgb(52, 104, 214);
	color: #fff;
	border: 1px solid rgb(60, 123, 238);
}

#slider .caption button:hover {
	background-color: #fff;
    border: 1px solid #01b1d7;
    transition: 0.3s;
    color: rgba(52, 103, 214, 0.842); }


/*Media*/
@media screen and (min-width: 320px) and (max-width: 520px) {
	#slider .caption {
		position: absolute;
		width: 400px;
		top: 55%;
	}

	#slider .caption h2 {
		font-size: 15px;
	}

	#slider .caption p {
		font-size: 10px;
		font-style: italic;
		margin: 0;
		padding: 0;
		color: #01b1d7;
	}

	#slider .caption .btn {
		width: 80px;
	    height: 20px;
		font-size: 10px;
		margin-top: 5px;
		padding: 0;
	}
}

/*Media*/
@media screen and (min-width: 521px) and (max-width: 980px) {
	#slider .caption {
		position: absolute;
		width: 450px;
		top: 50%;
	}

	#slider .caption h2 {
		font-size: 24px;
	}

	#slider .caption p {
		font-size: 16px;
		font-style: italic;
		margin-top: 15px;
		color: #01b1d7;
	}

	#slider .caption .btn {
		width: 110px;
	    height: 30px;
		font-size: 12px;
		margin-top: 15px;

	}
}

/*Control Nav*/
#slider .flex-control-nav {
	position: absolute;
	display: inline;
	z-index: 2;
}

#slider .flex-control-nav li {
	margin: 5px;
	display: inline-block;
}

#slider .flex-control-paging li a {
	background: #fff;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 1px solid #01b1d7;
}

#slider .flex-control-paging li a:hover {
	background: #01b1d7;
}

#slider .flex-control-paging li a.flex-active {
	background: #01b1d7;
	width: 12px;
	height: 12px;
}

/*About*/
#about {
	padding-top: 40px;
	padding-bottom: 20px;
}

#about .about-heading {
	text-align: center;
}

#about .about-heading h2 {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	font-size: 45px;
	text-transform: uppercase;
}

#about .about-heading p {
	margin-top: 20px;
	line-height: 25px;
	color: #8e8e8e;
	margin-bottom: 50px;
}

#about .about-left {
	position: relative;
    z-index: 2;
}

#about .about-right:before {
	content: "";
    border: 8px solid #e5eef0;
	width: 120%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

#about .about-right {
	position: relative;
	padding: 0 80px 150px 80px;
}

#about .about-right-heading h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	padding-top: 100px;
	text-transform: uppercase;
}

#about .about-right-boot:before {
	content: "\f080";
	font-family: 'FontAwesome';
	font-size: 45px;
	padding: 65px 30px 0 0;
	float: left;
	color: #01b1d7;
}

#about .about-right-wrapper {
    padding-left: 0 0 50px 78px;
    position: relative;
	left: 0;
	top: 75px;
}

#about .about-right-wrapper a {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	color: #282828;
}

#about .about-right-wrapper a:hover {
	color: #01b1d7;
}

#about .about-right-wrapper p {
	line-height: 28px;
	margin-top: 20px;
	color: #8e8e8e;
}

#about .about-right-best:before {
	content: "\f201";
	font-family: 'FontAwesome';
	font-size: 45px;
	padding: 65px 30px 0 0;
	float: left;
	color: #01b1d7;
}

#about .about-right-support:before {
	content: "\f025";
	font-family: 'FontAwesome';
	font-size: 45px;
	padding: 65px 30px 0 0;
	float: left;
	color: #01b1d7;
}

/*Media*/
@media screen and (min-width: 320px) and (max-width: 520px) {
	#about {
		padding: 0;
	}

	#about .about-heading h2 {
		margin-top: 30px;
		font-size: 27px;
	}

	#about .about-heading p {
		margin-top: 20px;
		font-size: 12px;
		line-height: 20px;
	}

	#about .about-right:before {
		content: "";
	    border: 8px solid #e5eef0;
		width: 100%;
	    height: 100%;
	}

	#about .about-right {
		position: relative;
		padding: 30px;
		margin-top: 20px;
	}

	#about .about-right-heading h1 {
		padding-top: 20px;
		font-size: 25px;
		text-align: center;
	}

	#about .about-right-boot:before {
		font-size: 30px;
		padding: 20px 20px 0 0;
	}

	#about .about-right-wrapper {
	    position: relative;
		left: 0;
		top: 35px;
	}

	#about .about-right-wrapper a > h3 {
		font-size: 20px;
	}

	#about .about-right-wrapper p {
		margin-top: 20px;
		font-size: 13px;
	}

	#about .about-right-best {
		margin-top: 40px;
	}

	#about .about-right-best:before {
		font-size: 30px;
		padding: 20px 20px 0 0;
	}

	#about .about-right-support {
		margin-top: 40px;
	}

	#about .about-right-support:before {
		font-size: 30px;
		padding: 20px 20px 0 0;
	}
}

/*Media*/
@media screen and (min-width: 521px) and (max-width: 980px) {
	#about {
		margin-top: 50px;
		padding: 0;
	}

	#about .about-heading h2 {
		margin-top: 30px;
		font-size: 30px;
	}

	#about .about-heading p {
		margin-top: 20px;
		line-height: 20px;
	}

	#about .about-right:before {
		content: "";
	    border: 8px solid #e5eef0;
		width: 100%;
	    height: 100%;
	}

	#about .about-right {
		position: relative;
		padding: 30px;
		margin-top: 20px;
	}

	#about .about-right-heading h1 {
		padding-top: 20px;
		font-size: 25px;
		text-align: center;
	}

	#about .about-right-boot:before {
		font-size: 30px;
		padding: 20px 20px 0 0;
	}

	#about .about-right-wrapper {
	    position: relative;
		left: 0;
		top: 35px;
	}

	#about .about-right-wrapper a > h3 {
		font-size: 20px;
	}

	#about .about-right-wrapper p {
		margin-top: 20px;
		font-size: 13px;
	}

	#about .about-right-best {
		margin-top: 40px;
	}

	#about .about-right-best:before {
		font-size: 30px;
		padding: 20px 20px 0 0;
	}

	#about .about-right-support {
		margin-top: 40px;
	}

	#about .about-right-support:before {
		font-size: 30px;
		padding: 20px 20px 0 0;
	}

}

/*About bg*/

#Fondo_Uno {
	background-image: url(../images/Noticias/AQHP5IWDPPAU1578644061798.jpg);
	background-position: -200px 2px;
	backface-visibility: hidden;
	
	width: 100%; 	}

#Fondo_Dos {
	background-image: url(../images/Noticias/MardiGras20-HomeBanner-Desktop.jpg);
	height: 100%;
	background-position: -450px 0px;
	background-repeat: no-repeat;
	width: 100%; 	}

#Fondo_Tres {
	background-image: url(../images/Noticias/O2TYE1URPJJC1579213581798.jpg);
	height: 100%;
	background-position: -300px 0px;
	background-repeat: no-repeat;
	width: 100%; 	}

#Fondo_Cuatro {
	background-image: url(../images/Noticias/EEPV4583JXX81576621384521.jpg);
	backface-visibility: hidden;
	background-position: -300px 0px;
    background-repeat: no-repeat;	}


#news {
	margin-top: 30px;
	margin-bottom: 30px;
    text-transform: uppercase;
	color: #fff; 
	display: flex;
	align-content:center;
    flex-direction: column;
	width: 100%;     }

.news-heading {
	width: 750px;
	font-weight: 900;
	text-shadow:1px 1px 1px white;	
	line-height: 40px;  }

.news-heading h1 {
	text-shadow:1px 1px 1px black;	

	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	text-transform: uppercase;
	font-size: 25px;
	color: white; }	

.news-heading h2 {
	text-shadow:1px 1px 1px black;	

	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	text-transform: uppercase;
	font-size: 20px;
	color: #FBE9D3 }

.news-heading button {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	font-weight: 600;
	width: 200px;
	margin-left: 5px;
	background-color:rgba(230, 15, 15, 0.418);
	border: 1px solid rgba(247, 91, 1, 0.534);
	color: rgb(250, 171, 1);
	height: 55px;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	-moz-transition: background .3s linear;
	-webkit-transition: background .3s linear;
	-o-transition: background .3s linear;
	transition: background .3s linear;	}
	
.news-heading-btn:focus {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	outline: none; 	}
	
.news-heading p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    font-size: 16px;
    color: rgba(132, 149, 170, 0.877);  }

.news-wrapper {
	color: #fff;
	text-align: center;
	margin-top: 30px;
	z-index: -2;
}

#news .news-wrapper .count {
	font-family: 'Raleway', sans-serif;
	font-weight: 900;
	font-size: 45px;
	margin-right: 20px;
	text-align: center;
	float: left;
	color: #01b1d7;
}

#news .news-wrapper p {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 16px;
	margin-top: 30px;
	float: left;
}

/*Media*/
@media screen and (min-width: 320px) and (max-width: 520px) {
	.news-heading h1 {
		font-size: 28px;
	}

	.news-wrapper {
		margin-left: 25%;
	}

}

/*Media*/
@media screen and (min-width: 521px) and (max-width: 980px) {
	.news-heading h1 {
		font-size: 30px;
	}

	.news-wrapper {
		margin-left: 35%;
	}

}
.col-md-4 {
	width: 40%;
}

/*Service*/
#service {
	margin-top: 100px;
	background-attachment: scroll;
    padding-bottom: 0px;
    padding-top: 0px;
}

#service .col-md-6 {
	padding: 0;
	
}

#service .service-heading {
	text-align: center;
}

#service .service-heading h2 {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	font-size: 45px;
	text-transform: uppercase;
}

#service .service-heading p {
	margin-top: 20px;
	line-height: 25px;
	color: #8e8e8e;
	margin-bottom: 50px;
}

.services-style-one {
	position: relative;
}

.services-style-one .outer-box {
	position: relative;
	background: #1c1c1c;
}

.services-style-one .services-column {
	position: relative;
	width: 50%;
	float: left;
	background: #f2f3f4;	
}

.services-style-one .service-block {
	position: relative;
	margin-bottom: 40px;	
}

.services-style-one .services-column .content-outer {
	position: relative;
	float: right;
	max-width: 700px;
	padding: 80px 20px 40px 40px;	
}

.services-style-one .services-column .icon-box {
	font-size: 36px;
	margin-bottom: 15px;
	line-height: 1px;
	color: #01b1d7;	
}

.services-style-one .services-column h4 {
	font-size: 14px;
	margin-bottom: 10px;
	color: #1c1c1c;	
}

.services-style-one .services-column .text {
	font-size: 13px;
	color: #5a5a5a;
	max-width: 250px;	
}

.services-style-one .content-column {
	position: relative;
	float: left;
	width: 50%;
	background: #1c1c1c;
	text-align: right;
}

.services-style-one .content-column .content-box {
	position: relative;
	float:left;
	padding: 170px 20px 100px 320px;
	max-width: 700px;	
}

.services-style-one .content-column .sec-title h2 {
	color: #fff;
}

.services-style-one .content-column .sec-title h2 > span {
	border-bottom: 2px solid #01b1d7;
	padding-bottom: 5px;
}

.services-style-one .content-column .inner-box {
	position: relative;
}

.services-style-one .content-column .text {
	position: relative;
	margin: 30px 0;
	color: #999999;
	line-height: 25px;
}

.inner-box button {
	background-color: #01b1d7;
	width: 120px;
	height: 35px;
	color: #fff;
}

.inner-box button:hover {
	background-color: #fff;
	color: #01b1d7;
}

/*Service Footer*/
#service .service-footer {
	background: #222222;
	padding: 30px 0;
}

#service .service-footer-left h3 {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 22px;
	color: #fff;
}

#service .service-footer-left h3 > span {
	color: #01b1d7;
}

#service .service-footer-left p {
	font-size: 16px;
	color: white;
}

#service .service-footer-right {
	float: right;
	line-height: 80px;
}

#service .service-footer-right button {
	background-color: #01b1d7;
	width: 180px;
	height: 50px;
	color: #fff;
}

#service .service-footer-right button:hover {
	background-color: #fff;
	color: #01b1d7;
}

/*Media*/
@media screen and (min-width: 320px) and (max-width: 520px) {
	#service {
		margin-top: 50px;
	}

	#service .service-heading h2 {
		font-size: 27px;
	}

	#service .service-heading p {
		font-size: 13px;
	}

	.services-style-one .content-column .content-box {
		padding: 200px 20px 100px 20px;	
	}
}

/*Media*/
@media screen and (min-width: 521px) and (max-width: 980px) {
	#service {
		margin-top: 50px;
	}

	#service .service-heading h2 {
		font-size: 30px;
	}

	.services-style-one .content-column .content-box {
		padding: 200px 20px 100px 20px;	
	}
}

/*Shop*/
#Shop{
	
	margin-top: 5%;
	margin-bottom: 5%;
	width: 100%;
	height: 1500px;  }

.container-Shop__items{
   width: 300px;
   margin: 20px;
   height: 420px;
   box-shadow: 0px 0px 8px black;
   background-color: rgba(255, 255, 255, 0.151);   }


body #Shop .title {
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.801);
	font-size: 15px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;  }

	body #Shop .availability{
		text-transform: capitalize;
		color: rgb(250, 171, 1);
		overflow: hidden;
		text-overflow: ellipsis;  }

body #Shop .Shop-one {
	width: 300px;
	height: 250px;
	-moz-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1); }
body #Shop .Shop-head {
	position: relative;
	overflow: hidden;
	height: 100%; }
	
body #Shop .Shop-img img {
	width: 100%;
	height: auto;  }

body #Shop .Shop-hover {
	opacity: 0.5;
	position: absolute;
	top: 0;
	left: -100%;
	height: 100%;
	width: 100%;
	-webkit-transition: all 0.2s ease-in;
	-moz-transition: all 0.2s ease-in;
	-ms-transition: all 0.2s ease-in;
	-o-transition: all 0.2s ease-in;
	transition: all 0.2s ease-in;
}
body #Shop .Shop-hover {
	background-color: #159eee;
}

body #Shop .Shop-hover a i {
	color: #fff;
}
body #Shop .Shop-link, body #Shop .Shop-zoom {
	position: absolute;
	top: 50%;
	margin-top: -17px;
	width: 34px;
	height: 34px;
	line-height: 34px;
	font-size: 14px;
	background-color: #171717;
	display: inline-block;
	text-align: center;
	opacity: 0.8;
}
body #Shop .Shop-link {
	margin-right: -39px;
	right: 50%;
}
body #Shop .Shop-zoom {
	margin-left: -39px;
	left: 50%;
}

body #Shop .Shop-content p{
	padding-left: 10px;
	padding-right: 10px;
    text-align: justify;
	color: grey;
	}

body #Shop .Shop-one:hover .Shop-hover {
	left: 0;
	opacity: 0.9;
}
body #Shop .Shop-link:hover, body #Shop .Shop-zoom:hover {
	opacity: 1;
}
body #Shop nav {
	text-align: right;
}
/*Media*/
@media screen and (min-width: 320px) and (max-width: 520px) {
	#Shop {
		margin-top: 50px;
	}

	#Shop .Shop-heading h2 {
		font-size: 27px;
	}

	#Shop .Shop-heading p {
		font-size: 13px;
	}
}

/*Media*/
@media screen and (min-width: 521px) and (max-width: 980px) {
	#Shop {
		margin-top: 50px;
	}

	#Shop .Shop-heading h2 {
		font-size: 30px;
	}

}

/*Contact*/
#contact {
	margin-top: 0px;
	}
.container-about{
	width: 100%;
	display: flex;
	justify-content: space-around;  }
			

#contact .contact-heading h2 {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	font-size: 25px;
	text-align: center;
	text-transform: uppercase;
}

#contact .contact-heading p {
	margin-top: 20px;
	width: 100%;
	height: 100%;
	size: 10px;
	margin-bottom: 20px;
}

.validation {
    color: red;
    display:none;
    margin: 0 0 20px;
    font-weight:400;
    font-size:13px;
}

#sendmessage {
    color: green;
    border:1px solid green;
    display:none;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
}

#errormessage {
    color: red;
    display:none;
    border:1px solid red;
    text-align:center;
    padding:15px;
    font-weight:600;
    margin-bottom:15px;
}

#sendmessage.show, #errormessage.show, .show {
	display:block;
}

/*Get In Touch*/

#get-touch .contentForm  {
	margin-left: 30%;
	height: 300px;
	justify-content: center;
	width: 50%;   }

#get-touch .contentForm .form input {
	height: 50px;
	width: 100%;
	border-color: #ebebeb;
}

#get-touch .contentForm .form textarea {
	width: 100%;
	height: 90px;
	border-color: #ebebeb;
	margin-top: 20px;
}

#get-touch .contentForm .form .submit {
	text-align: center;
}

#get-touch .contentForm .form .submit .btn {
	margin-top: 25px;
	background-color: transparent;
	color: #7e7e7e;
	border-color: #01b1d7;
}

#get-touch .contentForm .form .submit .btn:hover {
	background-color: #01b1d7;
	color: #fff;
}


/*Map*/
#google-map{
    position:relative;
    margin-top:10px;
    height: 400px;
}

/*Client*/
#client {
	margin-top: 100px;
	text-align: center;
}

#client .col-md-2 {
	height: 100px;
}

#client span {
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}

#client img {
	max-height: 100px;
	vertical-align: middle;
}

/*Media*/
@media screen and (min-width: 320px) and (max-width: 520px) {
	#contact {
		margin-top: 50px;
	}

	#contact .contact-heading h2 {
		font-size: 27px;
	}

	#contact .contact-heading p {
		font-size: 13px;
	}
}

/*Media*/
@media screen and (min-width: 521px) and (max-width: 980px) {
	#contact {
		margin-top: 50px;
	}

	#contact .contact-heading h2 {
		font-size: 30px;
	}

}

/*Footer*/
#footer {
	background-image: url("../images/fondo/FondoFooter.jpg");
	background-size: 100%;
	background-repeat: no-repeat;  }

#footer .footer-heading {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	color: #fff;
}

#footer .footer-heading h3 {
	font-size: 30px;
	text-transform: capitalize;
}

#footer .footer-heading span {
	border-bottom: 2px solid #01b1d7;
	padding-bottom: 8px;
}

#footer .footer-heading p {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 300;
	margin-top: 20px;
	color: white;
}

#footer .footer-heading ul {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 30px;
}

#footer .footer-heading li {
	border-bottom: 1px solid #8b8b8b;
	padding: 10px 0;
}
#footer .footer-heading ul > li > a:before {
	content: "\f10c";
	font-family: 'FontAwesome';
	padding-right: 10px;
}

#footer .footer-heading ul > li > a {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 15px;
	padding-top: 9px;
	padding-bottom: 9px;
	color: #7e7e7e;
}

#footer .footer-heading ul > li > a:hover {
	color: #01b1d7;
}

#footer .insta img {
	float: left;
	width: 100px;
	height: 100px;
}

.credits a {
    color: #fff;
}
.container-contact{
	display: flex;
	width: 100%;
	height: 50%;
	justify-content: space-around;
	flex-direction: row; }
/*Bottom Footer*/
#bottom-footer {
	height: 100%;
	width: 100%;
	background-color: #282828;
	padding: 60px 0;
	color: #8e8e8e;
}

#bottom-footer p{

	font-size: 12px;
	color: white;
}

#bottom-footer .footer-right ul > li > a {
	color: #8e8e8e;
}

#bottom-footer .footer-right ul > li > a:hover {
	color: #01b1d7;
}

