<form role="form" th:action="@{/RegistrarMaquina}"
	th:object="${maquina}" method="post" enctype="multipart/form-data ">
	<div class="form-group ">
		<label>Codigo de la maquina</label> <input type="text"
			class="form-control" th:field="*{codigo}" placeholder="Codigo"
			required maxlength="40"> <span
			th:if="${#fields.hasErrors('codigo')}" th:errors="*{codigo}"
			class="text-danger"></span>
	</div>
	<div class="form-group ">
		<label>Nombre de la maquina</label> <input type="text"
			class="form-control " th:field="*{nombre}" placeholder="Nombre " required maxlength="40 "> 
			<span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"	class="text-danger"></span>
	</div>

	<div class="form-group ">
		<label>Descripcion</label>
		<textarea class="form-control" th:field="*{descripcion}"
			placeholder="Agregue una descripcion del producto "></textarea>
		<span th:if="${#fields.hasErrors('descripcion')}"
			th:errors="*{descripcion}" class="text-danger"></span>
	</div>

	<div class="form-group ">
		<label>Sala</label> 
		<select th:field="*{sala}" class="form-control">
			<option th:each="lista: ${Salas}" th:value="${lista.idSala}"
				th:text="${lista.numeroSala}"></option>
		</select>
	</div>

	<div class="form-group">
		<label>Foto</label> <input type="file" th:field="*{foto}" name="img">
		<p class="help-block">Formato de imagenes admitido png, jpg, gif,jpeg</p>
	</div>
	<p class="text-center">
		<button type="submit" class="btn btn-primary">Agregar maquina</button>
	</p>

</form>