<form role="form" th:action="@{/RegistrarSala}" th:object="${sala}"	method="post" enctype="multipart/form-data">
	<div class="form-group">
		<label>Nombre de sala</label> 
		 <input type="text" th:field="*{numeroSala}" class="form-control" placeholder="Numero de la sala" required maxlength="30">
		  <span th:if="${#fields.hasErrors('numeroSala')}" th:errors="*{numeroSala}" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label>Area de la sala (ej: 1200mt )</label> <input type="text"
			th:field="*{area}" class="form-control" placeholder="Area de la sala" required maxlength="40"> 
			<span th:if="${#fields.hasErrors('area')}" th:errors="*{area}"	class="text-danger"></span>
	</div>
	<div class="form-group">
		<label>Ubicaciòn</label>
		<textarea class="form-control" th:field="*{ubicacion}"	placeholder="Ubicacion de la sala"></textarea>
		<span th:if="${#fields.hasErrors('ubicacion')}"	th:errors="*{ubicacion}" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label for="categoria" class="col-form-label">Tipo de sala</label> 
		<select	th:field="*{tiposala}" id="tipoSala" class="form-control">
			<option th:each="tipo: ${tipoSalas}" th:value="${tipo.idTipoSala}"	th:text="${tipo.nombre}"></option>
		</select>
	</div>
	<div class="form-group">
		<label>Foto</label> 
		<input type="file"	th:field="*{foto}" name="img">
		<p class="help-block">Formato de imagenes admitido png, jpg, gif,jpeg</p>
	</div>

	<p class="text-center">
		<button type="submit" class="btn btn-primary">Agregar sala</button>
	</p>

</form>