
<form action="#" th:object="${socio}"
	th:action="@{/RegistrarSocioAdmin}" method="post"
	enctype="multipart/form-data">
	<div class="form-group">
		<label>Nombre</label> <input type="text" class="form-control"
			th:field="*{nombre}" id="txtCodigo_prod"
			placeholder="Nombre del socio" required="required"> <span
			th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"
			class="text-danger"></span>
	</div>
	<div class="form-group">
		<label>Cedula</label> <input type="text" class="form-control"
			th:field="*{cedula}" placeholder="Cedula del socio"
			required="required"> <span
			th:if="${#fields.hasErrors('cedula')}" th:errors="*{cedula}"
			class="text-danger"></span>
	</div>

	<div class="form-group">
		<label>Correo</label> <input type="email" class="form-control"
			th:field="*{correo}" placeholder="Ingrese el correo del socio"
			required maxlength="50"> <span
			th:if="${#fields.hasErrors('correo')}" th:errors="*{correo}"
			class="text-danger"></span>
	</div>
	<div class="form-group">
		<label>Direccion</label> <input type="text" class="form-control"
			th:field="*{direccion}" placeholder="Direccion de residencia"
			required maxlength="30"> <span
			th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}"
			class="text-danger"></span>
	</div>
	<div class="form-group">
		<label>Profesion</label> <input type="text" class="form-control"
			th:field="*{profesion}"
			placeholder="Ingrese su profesion (No obligatorio)"> <span
			th:if="${#fields.hasErrors('profesion')}" th:errors="*{profesion}"
			class="text-danger"></span>
	</div>
	<div class="form-group">
		<label>Usuario</label> <input type="text" class="form-control"
			th:field="*{usuario}" placeholder="Ingrese el usuario" required
			maxlength="30"> <span th:if="${#fields.hasErrors('usuario')}"
			th:errors="*{usuario}" class="text-danger"></span>
	</div>
	<div class="form-group">
		<label>Password</label> <input type="password" class="form-control"
			th:field="*{password}" placeholder="Ingrese la contraseña" required
			maxlength="30" name="marca">
	</div>
	<div class="form-group">
		<label>Foto</label> <input type="file" th:field="*{foto}" name="img">
		<p class="help-block">Formato de imagenes admitido png, jpg, gif,
			jpeg</p>
	</div>

	<button type="submit" class="btn btn-primary">Agregar socio</button>
</form>